/* Import Slick Slider CSS */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

/* Custom Styling for Slick Slider */
.slick-carousel-container {
  position: relative;
}

.slick-prev,
.slick-next {
  z-index: 10;
  width: 35px;
  height: 35px;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  opacity: 0.75;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}
.slick-slide img{
  margin-left: 10px;
}

.slick-list{
  margin-left: -10px;
} 

.lg-fullscreen::after{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  margin-left:10px
}

.lg-fullscreen:hover::after{
  border: 2px solid #fff;
}

/* Responsive styling */
@media (max-width: 768px) {
  .slick-slide{
    margin: 0;
  }
  
  .slick-dots {
    bottom: 5px;
  }
} 