@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Import local Poppins Black font */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .webkit-autofill-override {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: white;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 0 1000px var(--color-background-green-accent);
    }
  }
}

:root {
  --color-primary: #659DBD;
  --color-secondary: #A39F66;
  --color-text-white: #ffffff;
  --color-text-dark: #313131;
  --color-background-primary: #FEFBF2;
  --color-background-green-accent: #A39F66;
  --color-background-blue-accent: #659DBD;
  --color-background-dark: #313131;
}

* {
  box-sizing: border-box;
}

/* Base typography styles */
@layer base {
  body {
    @apply bg-background-primary text-text-dark font-primary ;
  }

  h1 {
    @apply text-[30px] font-bold leading-none;
  }
  
  h2 {
    @apply text-[25px] font-semibold leading-none;
  }
  
  h3 {
    @apply text-[20px] font-medium leading-none;
  }
  
  p, a, span, input, button, textarea, label, li {
    @apply text-[14px] leading-relaxed;
  }

  mark {
    @apply bg-background-primary;
  }
}

@layer components {

  .flex-center-row {
    @apply flex items-center justify-center flex-row;
  }

  .flex-center-col {
    @apply flex items-center justify-center flex-col;
  }

  .flex-between-row {
    @apply flex items-center justify-between flex-row;
  }

  .flex-between-col {
    @apply flex items-center justify-between flex-col;
  }

  .flex-start-row {
    @apply flex items-start justify-start flex-row;
  }

  .flex-start-col {
    @apply flex items-start justify-start flex-col;
  }

  .flex-end-row {
    @apply flex items-end justify-end flex-row;
  }

  .flex-end-col {
    @apply flex items-end justify-end flex-col;
  }

  .flex-wrap-row {
    @apply flex flex-wrap flex-row;
  }

  .flex-wrap-col {
    @apply flex flex-wrap flex-col;
  }

  .py-c-60{
    @apply py-[60px];
  }

  .py-c-30{
    @apply py-[30px];
  }

  .px-c-60{
    @apply px-[60px];
  }

  .px-c-30{
    @apply px-[30px];
  }

  .px-c-25{
    @apply px-[25px];
  }

  .p-c-25{
    @apply p-[25px];
  }

  .p-c-30{
    @apply p-[30px];
  }

  .p-c-60{
    @apply p-[60px];
  }

  .pl-c-25{
    @apply pl-[25px];
  }

  .pl-c-30{
    @apply pl-[30px];
  }

  .pl-c-60{
    @apply pl-[60px];
  }

  .pt-c-25{
    @apply pt-[25px];
  }

  .pt-c-30{
    @apply pt-[30px];
  }

  .pt-c-60{
    @apply pt-[60px];
  }

  .pr-c-25{
    @apply pr-[25px];
  }

  .pr-c-30{
    @apply pr-[30px];
  }

  .pr-c-60{
    @apply pr-[60px];
  }

  .pb-c-25{
    @apply pb-[25px];
  }

  .pb-c-30{
    @apply pb-[30px];
  }

  .pb-c-60{
    @apply pb-[60px];
  }

  .mt-c-30 {
    @apply mt-[30px];
  }

  .mt-c-60 {
    @apply mt-[60px];
  }

  .mt-c-90 {
    @apply mt-[90px];
  }

  .mt-c-120 {
    @apply mt-[120px];
  }

  .mb-c-30 {
    @apply mb-[30px];
  }

  .mb-c-60 {
    @apply mb-[60px];
  }

  .mb-c-90 {
    @apply mb-[90px];
  }

  .mb-c-120 {
    @apply mb-[120px];
  }

  .my-c-60{
    @apply my-[60px];
  }

  .my-c-30{
    @apply my-[30px];
  }

  .mx-c-60{
    @apply mx-[60px];
  }

  .mx-c-30{
    @apply mx-[30px];
  }

  .mx-c-25{
    @apply mx-[25px];
  }

  .container-max-w-1280 {
    @apply max-w-[1280px];
  }

  .container-max-w-1024 {
    @apply max-w-[1024px];
  }

  .container-max-w-768 {
    @apply max-w-[768px];
  }
  
  .container-max-w-none {
    @apply max-w-none;
  }

  .container-px-60 {
    @apply px-[60px];
  }

  .container-px-30 {
    @apply px-[30px];
  }

  .container-px-25 {
    @apply px-[25px];
  }

  .container-py-60 {
    @apply py-[60px];
  }

  .container-py-30 {
    @apply py-[30px];
  }

  .container-mx-60 {
    @apply mx-[60px];
  }

  .container-mx-30 {
    @apply mx-[30px];
  }

  .container-mx-25 {
    @apply mx-[25px];
  }

  .container-my-60 {
    @apply my-[60px];
  }

  .container-my-30 {
    @apply my-[30px];
  }

  .container-my-25 {
    @apply my-[25px];
  }

  .font-ps{
    @apply font-secondary
  }

  .about-content p{
    @apply text-[16px] mb-5 leading-7;
  }

  .about-content span.font-ps{
    @apply text-[20px];
  }

  .contact-form-input{
    @apply w-full p-2 placeholder:text-gray-300 bg-background-green-accent text-white rounded-none border-b-[1px] border-b-white resize-none focus:outline-none focus:placeholder:text-white
  }

  .comment-form-input{
    @apply w-full p-2 placeholder:text-gray-300 bg-background-green-accent text-white resize-none focus:outline-none focus:placeholder:text-white rounded-sm block
  }

  .primary-button{
    @apply text-white bg-background-blue-accent hover:bg-background-green-accent 
                  rounded-sm transition-all duration-300 px-2 py-1;
  }

  .featured-adventure-title{
    @apply font-bold font-ps text-white;
  }
}

.box-shadow-quote{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.box-shadow-post-detail-image{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5)
}

.sidebar-ad {
  @media screen and (max-width:1024px) {
    display: none !important;
  }
}